*{
    padding: 0px;
    margin: 0px;
    box-sizing: boder-box;
}

html{
    font-family: 'Arimo';
    font-size: 20px;
    background-color: palegoldenrod;
    text-rendering: optimizeLegibility;
    background-image: url(../img/LandingPage_Frame/LandingPage_BackGround_Full.png);
    margin: 0 auto; 
} 

header{
    background-image: url(../img/Header/BackGround.png);
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    background-attachment: fixed;
}
.row{
    float: right;
    margin-right: 120px;
    margin-top: 40px;
}

.logo{
    width: 250px;
    float: left;
}

.links{
    float: right;
    list-style: none;
    margin-right: 20px;
    margin-top: 30px;
}

.links li a{
    text-decoration: none;
    color: #2765b5;
    font-weight: 800;
}

.links li{
    display: inline-block;
    margin-right: 30px;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.links li a:hover,
.links li a:active{
    border-bottom: 2px solid #2765b5;
}


.hdtn{
    background-color: #2765b5;
    border: #2765b5;
    border-style: solid;
    border-left-width: 5px;
    border-right-width: 5px;
    display: inline;
    color: #f8fbf9;
}


.dhqg{
    color: #2765b5;
}

/*---------------------ACTIVITY----------------------*/

.acti-picture img{
    width: 100%;
    display: inline-block;
    
}
.acti-picture{
    width: 50%;
    position: relative;
}
.activity{
    padding-top: 10px;
}
.row1{
    margin-bottom: 100px;
}
.line{
    width: 100%;
    margin-top: -500px;
    margin-bottom: -610px;
    display: inline-block;
}
/* .pic1{
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

/*-----------------PRODUCT-------------------*/

.product-picture{
    padding-top: 100px;
}
.product-picture img{
    width: 100%;
}

/*-----------------CONTACT-------------------*/

.twoline{
    width: 100%;
    margin-top: -50px;
    margin-bottom: -630px;
    display: inline-block;
}
.contact-picture img{
    width: 200%;
    display: inline-block;
    /* background-image: url(../img/2Line.png); */
}
